.navbar{ 
    padding: 10px;
    display: flex;
    background: #455A64;
}

.logo-navbar{
    width: 25px;
    height: 25px;
}

.btn-navbar{ 
    border: none;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 60px;
}